app/pug/error.pug
extends ../pug/templates/main2

block vars
	- var title = "Ошибка";
	//- - var headerClasses = ['header'];
	//- - var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница


//- Content Start     ============================================


block content

	// Content Start     ============================================

	main#content

		// - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - -
		//- first_screen_fon.png 
		.first_screen.bg_fon(style="background-image: url(images/new_bg.jpg);")
			.container
				.row
					.col-lg-5.d_flex.flex_middle
						.first_screen_box
							.first_screen_slogan
								img(src="images/slogan.png", alt="")
							
							.first_screen_wrap
								.time_container
									h5.fz20.time_title.gradient-text До&nbsp;окончания&nbsp;акции&nbsp;осталось
									.js-clock.time_box
								a.first_screen_btn.btn-xl.btn-fon(href="javascript:;" data-popup="#authorization_modal"): span.gradient-text ЗАГРУЗИТЬ&nbsp; ЧЕК

					.col-lg-7
						.first_screen_img
							img(src="images/first_screen.png", alt="")

		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - -

	// Content End       ============================================


//- Content End       ============================================

//- Popup Start     ============================================


block popup

	// Popup Start     ============================================

	div(class="d_none")

		#authorization_modal.arcticmodal_container_box.modal_box3.modal_indent2
			.modal_abs_img
				img(src="images/modal_abs_img4.png", alt="")
			.modal_abs_img4
				img(src="images/modal_abs_img5.png", alt="")
				img.d_none(src="images/modal_abs_img5_mob.png", alt="")
			.arcticmodal-close &times;
			h3.mb7.al_center Ошибка при загрузке чека
			div.al_center.gradient-text.fz18 Чек сфотографирован не полностью

	// Popup End       ============================================


//- Popup End       ============================================

build/error.html
<!Doctype html>
<html lang="en">
    <!-- Head Start     ============================================ -->
    <head>
        <!-- Basic page needs     ============================================ -->
        <title>Ошибка</title>
        <meta charset="utf-8" />
        <meta name="author" content="" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <!-- Meta tags for social networks     ============================================-->
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:description" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="img/preview.jpg" />
        <!-- IE Support     "IE=edge","IE=11","IE=10","IE=9","IE=8"     ============================================ -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- Mobile specific metas     ============================================ -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <!-- Disable conversion of telephone numbers     ============================================ -->
        <meta name="format-detection" content="telephone=no" />
        <!-- Implement Google Tag Manager     ============================================ -->
        <!-- Google Tag Manager -->
        <script>
            (function(w, d, s, l, i)
            {
                w[l] = w[l] || [];
                w[l].push(
                {
                    'gtm.start': new Date().getTime(),
                    event: 'gtm.js'
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-MT4ZWVR');
        </script>
        <!-- End Google Tag Manager -->
        <!-- Favicon     ============================================-->
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="images/favicon-16.png" sizes="16x16" type="image/png" />
        <link rel="icon" href="images/favicon-32.png" sizes="32x32" type="image/png" />
        <link rel="icon" href="images/favicon-48.png" sizes="48x48" type="image/png" />
        <link rel="icon" href="images/favicon-62.png" sizes="62x62" type="image/png" />
        <link rel="icon" href="images/favicon-192.png" sizes="192x192" type="image/png" />
        <!-- Include Fonts (Icons)     ============================================ -->
        <link rel="stylesheet" media="screen" href="css/font.css" />
        <!-- Include Libs CSS     ============================================ -->
        <link rel="stylesheet" media="screen" href="css/reset.css" />
        <link rel="stylesheet" media="screen" href="css/bootstrap.css" />
        <link rel="stylesheet" media="screen" href="plugins/arcticmodal/jquery.arcticmodal.css" />
        <link rel="stylesheet" media="screen" href="plugins/formstyler/formstyler.css" />
        <link rel="stylesheet" media="screen" href="plugins/mCustomScrollbar/jquery.mCustomScrollbar.min.css" />
        <link rel="stylesheet" media="screen" href="plugins/tooltipster-master/tooltipster.bundle.min.css" />
        <link rel="stylesheet" media="screen" href="plugins/dropzone/dropzone.css" />
        <link rel="stylesheet" media="screen" href="plugins/owl-carousel/owl.carousel.min.css" />
        <!-- Theme CSS     ============================================ -->
        <link rel="stylesheet" media="screen" href="css/style.css" />
        <link rel="stylesheet" media="screen" href="css/responsive.css" />
        <link rel="stylesheet" media="screen" href="css/ie.css" /> </head>
    <!-- Head End       ============================================ -->
    <!-- Body Start     ============================================ -->
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MT4ZWVR" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        <!--[if lte IE 9]><div class="browse-happy"><h3>You are using an <strong>outdated</strong> browser. Please<a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</h3></div><![end if]-->
        <div class="page_wrap">
            <!-- Content Start     ============================================-->
            <main id="content">
                <!-- - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - --->
                <div class="first_screen bg_fon" style="background-image: url(images/new_bg.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 d_flex flex_middle">
                                <div class="first_screen_box">
                                    <div class="first_screen_slogan">
                                        <img src="images/slogan.png" alt="" />
                                    </div>
                                    <div class="first_screen_wrap">
                                        <div class="time_container">
                                            <h5 class="fz20 time_title gradient-text">До&nbsp;окончания&nbsp;акции&nbsp;осталось</h5>
                                            <div class="js-clock time_box"></div>
                                        </div>
                                        <a class="first_screen_btn btn-xl btn-fon" href="javascript:;" data-popup="#authorization_modal">
                                            <span class="gradient-text">ЗАГРУЗИТЬ&nbsp; ЧЕК</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="first_screen_img">
                                    <img src="images/first_screen.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - --->
            </main>
            <!-- Content End       ============================================-->
            <!-- Popup Start     ============================================-->
            <div class="d_none">
                <div class="arcticmodal_container_box modal_box3 modal_indent2" id="authorization_modal">
                    <div class="modal_abs_img">
                        <img src="images/modal_abs_img4.png" alt="" />
                    </div>
                    <div class="modal_abs_img4">
                        <img src="images/modal_abs_img5.png" alt="" />
                        <img class="d_none" src="images/modal_abs_img5_mob.png" alt="" />
                    </div>
                    <div class="arcticmodal-close">&times;</div>
                    <h3 class="mb7 al_center">Ошибка при загрузке чека</h3>
                    <div class="al_center gradient-text fz18">Чек сфотографирован не полностью</div>
                </div>
            </div>
            <!-- Popup End       ============================================-->
        </div>
        <!-- Include Libs     ============================================ -->
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/jquery-migrate-3.0.1.min.js"></script>
        <!-- Include Libs End       ============================================ -->
        <!-- Scripts Init Plugins & Core START     ============================================ -->
        <script src="js/script.init.js"></script>
        <script src="js/script.core.js"></script>
        <script type="text/javascript">
            Dropzone.autoDiscover = false;
            var myDropzone = new Dropzone(".dropzone",
            {
                parallelUploads: 5,
                filesizeBase: 2000,
                maxFiles: 5,
                acceptedFiles: "image/*",
                addRemoveLinks: true,
                removedfile: function(file)
                {
                    var name = file.name;
                    $.ajax(
                    {
                        type: 'POST',
                        url: 'upload.php',
                        data:
                        {
                            name: name,
                            request: 2
                        },
                        sucess: function(data)
                        {
                            console.log('success: ' + data);
                        }
                    });
                    var _ref;
                    return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
                },
                init: function()
                {
                    $(".add-photo").on("click", function()
                    {
                        $('.dropzone').trigger('click');
                    });
                }
            });
        </script>
        <!-- Scripts Init Plugins & Core END       ============================================ -->
    </body>
    <!-- Body End       ============================================ -->
</html>
