build/feedback.html
<!Doctype html>
<html lang="en">
    <!-- Head Start     ============================================ -->
    <head>
        <!-- Basic page needs     ============================================ -->
        <title>Feedback</title>
        <meta charset="utf-8" />
        <meta name="author" content="" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <!-- Meta tags for social networks     ============================================-->
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:description" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="img/preview.jpg" />
        <!-- IE Support     "IE=edge","IE=11","IE=10","IE=9","IE=8"     ============================================ -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- Mobile specific metas     ============================================ -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <!-- Disable conversion of telephone numbers     ============================================ -->
        <meta name="format-detection" content="telephone=no" />
        <!-- Implement Google Tag Manager     ============================================ -->
        <!-- Google Tag Manager -->
        <script>
            (function(w, d, s, l, i)
            {
                w[l] = w[l] || [];
                w[l].push(
                {
                    'gtm.start': new Date().getTime(),
                    event: 'gtm.js'
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-MT4ZWVR');
        </script>
        <!-- End Google Tag Manager -->
        <!-- Favicon     ============================================-->
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="images/favicon-16.png" sizes="16x16" type="image/png" />
        <link rel="icon" href="images/favicon-32.png" sizes="32x32" type="image/png" />
        <link rel="icon" href="images/favicon-48.png" sizes="48x48" type="image/png" />
        <link rel="icon" href="images/favicon-62.png" sizes="62x62" type="image/png" />
        <link rel="icon" href="images/favicon-192.png" sizes="192x192" type="image/png" />
        <!-- Include Fonts (Icons)     ============================================ -->
        <link rel="stylesheet" media="screen" href="css/font.css" />
        <!-- Include Libs CSS     ============================================ -->
        <link rel="stylesheet" media="screen" href="css/reset.css" />
        <link rel="stylesheet" media="screen" href="css/bootstrap.css" />
        <link rel="stylesheet" media="screen" href="plugins/arcticmodal/jquery.arcticmodal.css" />
        <link rel="stylesheet" media="screen" href="plugins/formstyler/formstyler.css" />
        <link rel="stylesheet" media="screen" href="plugins/mCustomScrollbar/jquery.mCustomScrollbar.min.css" />
        <link rel="stylesheet" media="screen" href="plugins/tooltipster-master/tooltipster.bundle.min.css" />
        <link rel="stylesheet" media="screen" href="plugins/dropzone/dropzone.css" />
        <link rel="stylesheet" media="screen" href="plugins/owl-carousel/owl.carousel.min.css" />
        <!-- Theme CSS     ============================================ -->
        <link rel="stylesheet" media="screen" href="css/style.css" />
        <link rel="stylesheet" media="screen" href="css/responsive.css" />
        <link rel="stylesheet" media="screen" href="css/ie.css" /> </head>
    <!-- Head End       ============================================ -->
    <!-- Body Start     ============================================ -->
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MT4ZWVR" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        <!--[if lte IE 9]><div class="browse-happy"><h3>You are using an <strong>outdated</strong> browser. Please<a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</h3></div><![end if]-->
        <div class="page_wrap">
            <!-- Preloader Start     ============================================ -->
            <div id="page-preloader">
                <span class="preloader"></span>
            </div>
            <!-- Preloader End       ============================================ -->
            <!-- Header Start     ============================================ -->
            <header class="header_fix" id="header">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="header_container">
                                <div class="js-btn-menu">
                                    <span></span>
                                </div>
                                <!-- - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - --->
                                <div class="logo">
                                    <a class="scrollto" href="index.html#box1">
                                        <img src="images/logo.png" alt="" />
                                    </a>
                                </div>
                                <!-- - - - - - - - - - - - - - End of Logo - - - - - - - - - - - - - - - --->
                                <!--  - - - - - - - - - - - - - Page Navigation - - - - - - - - - - - - - - - --->
                                <nav class="navigation_menu" id="primary_nav">
                                    <menu class="menu" id="menu">
                                        <li class="menu_item">
                                            <a class="menu_link gradient-text scrollto" href="index.html#box2">Об акции</a>
                                        </li>
                                        <li class="menu_item">
                                            <a class="menu_link gradient-text scrollto" href="index.html#box3">Призы</a>
                                        </li>
                                        <li class="menu_item">
                                            <a class="menu_link gradient-text" href="winners.html">Победители</a>
                                        </li>
                                        <li class="menu_item">
                                            <a class="menu_link gradient-text" href="about.html">Вопрос- ответ </a>
                                        </li>
                                        <li class="menu_item">
                                            <a class="menu_link gradient-text" href="feedback.html">Обратная&nbsp;связь</a>
                                        </li>
                                    </menu>
                                </nav>
                                <!--  - - - - - - - - - - - - - End of Page Navigation - - - - - - - - - - - - - - - --->
                                <!-- - - - - - - - - - - - - - login_box - - - - - - - - - - - - - - - --->
                                <div class="login_box">
                                    <a class="login_link" href="#">
                                        <img src="images/icons/login-icon.png" alt="" />
                                        <div class="gradient-text">Войти</div>
                                    </a>
                                </div>
                                <!-- - - - - - - - - - - - - - End of login_box - - - - - - - - - - - - - - - --->
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Header End       ============================================ -->
            <!-- Content Start     ============================================-->
            <main id="content">
                <!-- - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - --->
                <div class="first_screen feedback_container bg_fon" style="background-image: url(images/new_bg.jpg);">
                    <div class="container abs_box abs_box2">
                        <div class="img_abs6">
                            <img src="images/img_abs6.png" alt="" />
                        </div>
                        <div class="img_abs7">
                            <img src="images/img_abs7.png" alt="" />
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <h3 class="mb35">Обратная связь</h3>
                                <form class="form_feedback">
                                    <div class="form_row mxw300">
                                        <label class="form_label requaired">Email</label>
                                        <input class="form_input" type="text" placeholder="example@server.com" /> </div>
                                    <div class="form_row form_select">
                                        <select class="styler" data-placeholder="Выберите тему сообщения">
                                            <option></option>
                                            <option value="Правила акции">Правила акции</option>
                                            <option value="Не могу зарегистрироваться">Не могу зарегистрироваться</option>
                                            <option value="Не могу загрузить чек">Не могу загрузить чек</option>
                                            <option value="Мой чек не прошел проверку">Мой чек не прошел проверку</option>
                                            <option value="Призовой фонд">Призовой фонд</option>
                                            <option value="Изменение персональных данных">Изменение персональных данных</option>
                                            <option value="Другое">Другое</option>
                                        </select>
                                    </div>
                                    <div class="form_row">
                                        <div class="p_rel form_textarea_wrap">
                                            <textarea class="form_textarea h160" placeholder="Напишите вопрос"></textarea>
                                            <span class="fz10 gradient-text">Если у Вас возник вопрос по чеку, укажите, пожалуйста, номер и дату загрузки данного чека. Данную информацию можете посмотреть в
                                                <a href="javascript:;" class="link-bd2 gradient-text">личном кабинете</a>.</span>
                                        </div>
                                    </div>
                                    <div class="form_row mb25">
                                        <input class="styler" type="file" /> </div>
                                    <div class="form_row form_checkbox">
                                        <input class="form_input_checkbox" id="check" type="checkbox" />
                                        <label class="form_label_checkbox" for="check">
                                            <span>Я согласен на обработку персональных данных</span>
                                        </label>
                                    </div>
                                    <div class="form_row form_button">
                                        <a class="btn-xl btn-fon2" href="javascript:;">
                                            <span class="gradient-text">ОТПРАВИТЬ</span>
                                        </a>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-7 offset-lg-1">
                                <div class="first_screen_img">
                                    <img src="images/first_screen.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - --->
            </main>
            <!-- Content End       ============================================-->
            <!-- Footer Start     ============================================ -->
            <footer id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="footer_container">
                                <div class="footer_tel">
                                    <a class="gradient-text" href="tel:88005007737">8&nbsp;800&nbsp;500&nbsp;77&nbsp;37</a>
                                    <p class="gradient-text">Телефон&nbsp;горячей&nbsp;линии</p>
                                </div>
                                <ul class="footer_list">
                                    <li>
                                        <a class="gradient-text" href="javascript:;" target="_blank">Правила&nbsp;акции</a>
                                    </li>
                                    <li>
                                        <a class="gradient-text" href="javascript:;" target="_blank">Пользовательское&nbsp;соглашение</a>
                                    </li>
                                </ul>
                                <div class="footer_social">
                                    <h6 class="social_title gradient-text">Поделиться:</h6>
                                    <ul>
                                        <li>
                                            <a href="javascript:;">
                                                <img src="images/icons/social-icon.png" alt="" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <img src="images/icons/social-icon2.png" alt="" />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer_copyright gradient-text">
                                    <span class="txt">©&nbsp;</span>2018&nbsp;ООО&nbsp;«ПепсиКо&nbsp;Холдингс»&nbsp;Все&nbsp;права&nbsp;защищены</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- - - - - - - - - - - - - - End of footer_container - - - - - - - - - - - - - - - --->
            </footer>
            <!-- Footer End       ============================================ -->
            <!-- Popup Start     ============================================-->
            <div class="d_none">
                <div class="arcticmodal_container_box modal_box3 modal_indent3" id="download_modal">
                    <div class="arcticmodal-close">&times;</div>
                </div>
            </div>
            <!-- Popup End       ============================================-->
        </div>
        <!-- Include Libs     ============================================ -->
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/jquery-migrate-3.0.1.min.js"></script>
        <!-- Include Libs End       ============================================ -->
        <!-- Scripts Init Plugins & Core START     ============================================ -->
        <script src="js/script.init.js"></script>
        <script src="js/script.core.js"></script>
        <script type="text/javascript">
            Dropzone.autoDiscover = false;
            var myDropzone = new Dropzone(".dropzone",
            {
                parallelUploads: 5,
                filesizeBase: 2000,
                maxFiles: 5,
                acceptedFiles: "image/*",
                addRemoveLinks: true,
                removedfile: function(file)
                {
                    var name = file.name;
                    $.ajax(
                    {
                        type: 'POST',
                        url: 'upload.php',
                        data:
                        {
                            name: name,
                            request: 2
                        },
                        sucess: function(data)
                        {
                            console.log('success: ' + data);
                        }
                    });
                    var _ref;
                    return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
                },
                init: function()
                {
                    $(".add-photo").on("click", function()
                    {
                        $('.dropzone').trigger('click');
                    });
                }
            });
        </script>
        <!-- Scripts Init Plugins & Core END       ============================================ -->
    </body>
    <!-- Body End       ============================================ -->
</html>

app/pug/feedback.pug
extends ../pug/templates/main3

block vars
	- var title = "Feedback";
	//- - var headerClasses = ['header'];
	//- - var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница


//- Content Start     ============================================


block content

	// Content Start     ============================================

	main#content

		// - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - -

		.first_screen.feedback_container.bg_fon(style="background-image: url(images/new_bg.jpg);")
			.container.abs_box.abs_box2
				.img_abs6
					img(src="images/img_abs6.png", alt="")
				.img_abs7
					img(src="images/img_abs7.png", alt="")
			.container
				.row
					.col-lg-4
						h3.mb35 Обратная связь
						form.form_feedback
							.form_row.mxw300
								label.form_label.requaired Email
								input.form_input(type="text" placeholder="example@server.com")
							.form_row.form_select
								select.styler(data-placeholder='Выберите тему сообщения')
									option
									option(value="Правила акции") Правила акции
									option(value="Не могу зарегистрироваться") Не могу зарегистрироваться
									option(value="Не могу загрузить чек") Не могу загрузить чек
									option(value="Мой чек не прошел проверку") Мой чек не прошел проверку
									option(value="Призовой фонд") Призовой фонд
									option(value="Изменение персональных данных") Изменение персональных данных
									option(value="Другое") Другое
							.form_row
								.p_rel.form_textarea_wrap
									textarea.form_textarea.h160(placeholder="Напишите вопрос")
									span.fz10.gradient-text Если у Вас возник вопрос по чеку, укажите, пожалуйста, номер и дату загрузки данного чека. Данную информацию можете посмотреть в <a href="javascript:;" class="link-bd2 gradient-text">личном кабинете</a>.
							.form_row.mb25
								input.styler(type="file")
							.form_row.form_checkbox
								input#check.form_input_checkbox(type="checkbox")
								label.form_label_checkbox(for="check")
									span Я согласен на обработку персональных данных
							.form_row.form_button
								a.btn-xl.btn-fon2(href="javascript:;"): span.gradient-text ОТПРАВИТЬ


					.col-lg-7.offset-lg-1
						.first_screen_img
							img(src="images/first_screen.png", alt="")

		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - -

	// Content End       ============================================


//- Content End       ============================================

//- Popup Start     ============================================


block popup

	// Popup Start     ============================================

	div(class="d_none")

		#download_modal.arcticmodal_container_box.modal_box3.modal_indent3
			.arcticmodal-close &times;

	// Popup End       ============================================


//- Popup End       ============================================
